.frames {
  width: 138px;
  text-align: center;
  border: 1px solid black;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 1px 15px 1px;
  }

  &__frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border: 1px solid black;

  }

  &__btn {
    width: 90px;
    height: 30px;

    
    &:hover{
      color: seashell;
      background-color: rgb(37, 13, 13);
    }

    &:active{
      color: rgb(206, 198, 192);
      background-color: rgb(63, 22, 22);
    }
  }
}

.deleteBtn{
  top: 0;
  right: 0;
  position: absolute;
  width: 20px;
  height: 20px;
}

.copyBtn{
  bottom: 0;
  right: 0;
  position: absolute;
  width: 20px;
  height: 20px;
}