.preview {
 
  text-align: center;

  &__screen{
    width: 128px;
    height: 128px;
    padding: 0 5px;
    border: 1px solid black;
  }

  &__btn{
    width: 90px;
    height: 30px;
    margin: 5px auto;

    &:hover{
      color: seashell;
      background-color: rgb(37, 13, 13);
    }

    &:active{
      color: rgb(206, 198, 192);
      background-color: rgb(63, 22, 22);
    }
  }
}