@import url("../reset.css");

/* montserrat-600 - cyrillic_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/montserrat-v14-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../assets/fonts/montserrat-v14-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800 - cyrillic_latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/montserrat-v14-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../assets/fonts/montserrat-v14-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-cyrillic_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }


@mixin font-main() {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    display: flex;
    max-width: 1440px;
    min-height: 800px;
    margin: 0 auto;
    padding: 40px 90px;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
}

.weather{
    margin-right: 270px;
}

.btn {
    display: flex;
    margin-bottom: 57px;

    &__reload {
        width: 44px;
        height: 44px;
        margin-right: 10px;

        border-radius: 5px;
        outline: 0;
    }

    &__lang{
        width: 71px;
        height: 44px;  
        margin-right: 10px;
        
        @include font-main();  

        background: rgba(174, 181, 185, 0.5);
        border-radius: 5px; 
        outline: 0;

    }

    &__deg-c{
        width: 44px;
        height: 44px;

        @include font-main();  

        background:  rgba(174, 181, 185, 0.5);
        border-radius: 5px 0 0 5px;
        
        outline: 0;
    }

    &__deg-f{
        width: 44px;
        height: 44px;

        @include font-main();  

        background:  rgba(174, 181, 185, 0.5);
        border-radius: 0 5px 5px 0;
        
        outline: 0;
    }

    &__deg--active{ 
        background: rgba(76, 82, 85, 0.4);
    }

}

.location{
    @include font-main();  
    font-size: 44px;
    line-height: 54px;  
    margin-bottom: 4px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.date{
    
    @include font-main();
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.forecast{
    display: flex;
    align-content: flex-end;
    padding-top: 50px;
    margin-bottom: 70px;
    position: relative;

    &__deg{
        display: flex;
        align-content: flex-start;
        margin-right: 70px;
        
        @include font-main();
        line-height: normal;
        font-size: 100px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        
        span {  
            font-size: 306px;
            line-height: 260px;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            
        } 
    }

    &__desc{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include font-main();
        font-size: 22px;
        line-height: 37px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

.mainDegImg{
    width: 162px;
    height: auto;
    position: absolute;
    z-index: 2;
    object-fit: fill;
    left: 390px;
    top: -40px;
   
}

.forecastImg{
    width: 110px;
    height: auto;
    position: absolute;
    z-index: 2;
    object-fit: fill;
    left: 93px;
    top: -8px;
}

.next-forecast{
    display: flex;
   

    @include font-main();
    font-size: 22px;
    line-height: 27px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    &__day{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 50px;
    }

    &__degr{
        display: inline-block;
        font-size: 80px;
        line-height: 98px;
        padding-right: 70px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

.position{
    max-width: 375px;
    
    text-align: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.search{
    margin-bottom: 160px;

    &__input{
        width: 274px;
        height: 44px;
        padding-left: 15px;


        @include font-main();

        outline: 0;
        border: 0;
        background: rgba(76, 82, 85, 0.4);
        border: 1px solid rgba(228, 227, 227, 0.2);
        border-radius:  5px 0 0 5px;

       
    }

    ::-webkit-input-placeholder{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    &__btn{
        width: 101px;
        height: 44px;

        @include font-main();

        outline: 0;
        border: 0;
        background: rgba(174, 181, 185, 0.5);
        border-radius: 0 5px 5px 0;
    }
}

.map{
    width: 375px;
    height: 398px;
    margin-bottom: 10px;
    background-color: red;
    border-radius:  20px;
}